html {
  font-family: sans-serif;
}

.centered-grey-text {
  color: grey;
  text-align: center
}

#top-container {
  text-align: center;
}

#top-container h1 {
  font-weight: 300;
  margin-bottom: 0;
}

#top-container h2 {
  font-weight: 100;
  margin-top: 0;
}

#course-table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

#course-table th {
  text-align: left;
}
