html {
  font-family: sans-serif;
}

.centered-grey-text {
  color: grey;
  text-align: center
}

#top-container {
  text-align: center;
}

#course-table {
  width: 90%;
  margin-right: auto;
}

#course-table th {
  text-align: left;
}
